XRAY_LOG_LEVEL=warning

XRAY_VLESS_PORT=8443
XRAY_CLIENT_UUID=
XRAY_REALITY_DEST=www.cloudflare.com:443
XRAY_REALITY_SERVER_NAME=www.cloudflare.com
XRAY_REALITY_PRIVATE_KEY=
XRAY_REALITY_SHORT_ID=

XRAY_TELEGRAM_SOCKS_PORT=29418
XRAY_TELEGRAM_SOCKS_USER=
XRAY_TELEGRAM_SOCKS_PASS=
