COMPOSE_PROJECT_NAME=tuic-vpn
SINGBOX_CONTAINER_NAME=sing-box-tuic
SINGBOX_IMAGE_TAG=v1.13.8

TUIC_LOG_LEVEL=warning
TUIC_SERVER_ADDRESS=
TUIC_PORT=443
TUIC_UUID=
TUIC_PASSWORD=
TUIC_SHADOWROCKET_ALLOW_INSECURE=1
TUIC_SHADOWROCKET_NAME=tuic-vpn
