[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
inject_facts_as_vars = False
remote_tmp = /tmp/.ansible/tmp

[ssh_connection]
pipelining = True
